<div class="card-container">
    <button class="card card-small success" (click)="showToast(EventTypes.Success)">
      <span>Show Success</span>
    </button>

    <button class="card card-small info" (click)="showToast(EventTypes.Info)">
      <span>Show Info</span>
    </button>

    <button class="card card-small warning" (click)="showToast(EventTypes.Warning)">
      <span>Show Warning</span>
    </button>

    <button class="card card-small error" (click)="showToast(EventTypes.Error)">
      <span>Show Error</span>
    </button>
</div>